@use '../../partials/colors' as *;

.score {
    font-size: 0.875rem;
    height: 3.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    &__container {
        padding: 0.25rem 1rem 0.25rem 0;
        border-right: 0.0625rem solid $color-primary1;
    }

    &__team-container {
        width: 9.375rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &--margin {
            margin-bottom: 0.25rem;
        }

        &--bold {
            font-weight: 600;
        }
    }

    &__team-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 7.5rem;
    }

    &__pointer-icon {
        height: 0.75rem;
        position: absolute;
        right: -1.2rem;
    }

    &__date-container {
        width: 4.0625rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__game-date {
        text-align: center;
    }
    
}