@use '../../partials/colors' as *;

.input {
    position: relative;

    &__title {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.8125rem;
        font-weight: 600;
    }

    &__textfield {
        width: 100%;
        padding: 1rem 1rem 1rem 3.5rem;
        border-radius: 1.5625rem;
        background-color: $color-primary1;
        border: none;
        font-size: 1.0625rem;
    
        &:focus {
            outline: none;
        }
    }

    &__icon {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        height: 1.5rem;
    }
}





