@use '../../partials/colors' as *;


.video {
    background: black;
    margin: 0;

    &__wrapper {
        margin: 0 auto;
        max-width: 53.125rem;
    }

    &__frame {
        width: 100%;
        object-fit: cover;
        height: 28.125rem;
        margin: 0;
        
        &--disabled {
            pointer-events: none;
        }
    }
}