@use '../../partials/colors' as *;

.isfriend {

  &__button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  } 

  &__button {
      background-color: $color-additional2;
      color: white;
      width: 100%;
      cursor: pointer;

      &--send-request {
            transition: background-color 0.3s;

        &:hover {
            background-color: $color-additional3;
        }
      }

      &--friends{
          margin-bottom: 0.5rem;
          background-color: $color-primary4;
      }

      &--sent {
          background-color: $color-additional3;
      }

      &--received {
          background-color: $color-additional3;
          transition: background-color 0.3s;

          &:hover {
              background-color: $color-primary4;
          }
      }
  }
}