@use '../../partials/colors' as *;

.header {
    padding: 0 4rem;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    &__wrapper {
        margin: 0 auto;  
        height: 69px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        height: 50px;
    }

    &__nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20rem;
        height: 100%;

    }

    &__link {
        font-size: 1rem;
        color: $color-primary4;
        height: 100%;
        width: 80px;
        display: block;
        border-bottom: 2px solid none;
        border-top: 2px solid none;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: $color-additional2;
            border-bottom: 2px solid $color-additional2;
        }

        &--highlighted {
            color: $color-additional2;
            border-bottom: 2px solid $color-additional2;
            font-weight: bold;
        }
    }

    &__avatar {
        height: 2rem;
        border-radius: 50%;
        object-position: center;
        object-fit: cover;
    }


}