@use '../../partials/colors' as *;

.feed-card-comment {
    display: flex;
    position: relative;
    padding: 0.5rem 0;

    &__img {
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
    }

    &__text-container {
        background: $color-primary1;
        border-radius: 1rem;
        padding: 0.5rem;
        width: 100%;
        
    }

    &__name-container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 0.25rem;
    }

    &__name {
        font-size: 0.875rem;
    }

    &__date {
        font-size: 0.8125rem;
    }

    &__text {
        font-size: 0.8125rem;
    }

}