@use '../../partials/colors' as *;

.search {
    height: 100vh;
    padding-top: 66px;
    display: flex;
    align-items: flex-start;

    &__bar-column {
        background: $color-primary1;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__bar-title {
        font-size: 2.5rem;
        width: 350px;
        margin-bottom: 2rem;
        text-align: center;
    }

    &__bar-form {
        background: white;
        width: 500px;
        padding: 2rem;
        border-radius: 25px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__bar-input {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    &__button {
        width: 100%;
        padding: 1rem;
        border-radius: 25px;
        background: $color-additional2;
        border: none;
        color: white;
    }

    &__result-column {
        width: 50%;
        height: 100%;
        padding: 2rem;
        background: linear-gradient(rgba(50,50,50,0.3), rgba(50,50,50,0.3)), url("../../assets/background/football-background.jpeg");
        background-position: center;
        background-size: cover;
        opacity: 0.8;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;
        align-items: flex-start;
        overflow-y: auto;
    }

    &__result-card {
        width: 200px;
        height: 200px;
        margin-bottom: 2rem;
        margin-right: auto;
        background: rgba(255,255,255, 0.75);
    }
}

// .card {
//     width: 200px;
//     height: 200px;
//     padding: 1rem;
//     border-radius: 25px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
//     margin-bottom: 2rem;
//     margin-right: auto;

//     &__img {
//         width: 100%;
//     }
// }