@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;

.team {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        width: 75rem;
        height: 46.875rem;
        padding: 2rem;
        border-radius: 1.5625rem;
        background: $color-primary1;
        box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.9);
        display: flex;
        position: relative;
    }

    &__first-column {
        display: flex;
        flex-direction: column;
    }

    &__card {
        width: 17.125rem;
        height: 15.625rem;
        padding: 1rem;
        background: white;
        box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
        border-radius: 1.5625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        margin-bottom: 1.5rem;
        position: relative;
    }

    &__card-img {
        width: 100%;
    }

    &__scores {
        background: white;
        box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
        border-radius: 1.5625rem;
        padding: 1rem;
        flex-grow: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__scores-title {
        margin-bottom: 1rem;
    }
    
    &__second-column {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 1rem;
        width: 40.625rem;
    }

    &__news {
        background: white;
        box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
        height: 35%;
        border-radius: 1.5625rem;
        padding: 1rem;
        overflow-y: auto;
        margin-bottom: 1rem;
    }

    &__news-article {
        margin-bottom: 1rem;
        transition: transform 0.3s, opacity 0.3s;

        &:hover {
            transform: scale(1.05);
            opacity: 0.7;
        }
    }

    &__comments {
        background: white;
        box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
        border-radius: 1.5625rem;
        padding: 1rem;
        height: 65%;
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    &__third-column {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 17.125rem;
    }

    &__videos {
        background: white;
        box-shadow: 0rem, 0.25rem, 0.25rem rgba(0, 0, 0, 0.5);
        border-radius: 1.5625rem;
        height: 100%;
        padding: 1rem;
        overflow-y: auto;
    }

    &__video {
        cursor: pointer;
        transition: opacity 0.3s, transform 0.3s;

        &:hover {
            opacity: 0.7;
            transform: scale(1.02);
        }
    }

    &__icon {
        height: 1.5rem;
        cursor: pointer;
        position: absolute;
        
        &--top-right {
            top: 0.4375rem;
            right: 0.625rem;
        }

        &--bottom-right {
            bottom: 0.4375rem;
            right: 0.625rem;
        }
    }

}

.video-watched {
    height: 100%;
    width: 100%;
    padding-top: 8rem;
    position: absolute;
    top: 0;
    left: 0;
    
    @include card-background;

    &__back-icon {
        height: 1.5rem;
        cursor: pointer;
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    &__expand-icon-anchor {
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    &__expand-icon {
        height: 1.5rem;
        
    }
}