@use '../../partials/colors' as *;

.actions {
    display: flex;
    border-top: 1px solid $color-primary4;
    border-bottom: 1px solid $color-primary4;

    &__icon-container {
        width: calc(100% / 3);
        padding: 1rem 0;
        display: flex;
        align-items: stretch;
        justify-content: center;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
            background: $color-primary2;
        }
    }

    &__icon {
        height: 1rem;
        margin-right: 0.5rem;
    }
}



