.article {
    display: flex;
    align-items: center;
    height: 4.0625rem;

    &__img {
       height: 100%;
       width: 3.75rem;
       object-fit: cover;
       object-position: center;
       margin-right: 0.5rem;
       border-radius: 0.3125rem;
    }

    &__description-container {
        height: 100%;
        width: 100%;
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
    }

    &__title {
        height: 100%;
        font-size: 0.875rem;
        padding-bottom: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}