@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;

.user {
    height: 100vh;
    padding: 66px 1rem 1rem 1rem;
    background: $color-primary1;
    display: flex;
    justify-content: flex-start;

    &__profile-details {
        width: 85%;
        display: flex;
    }
}

.user-profile {
    width: 15%;
    padding: 1rem 0.5rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    
    &__avatar {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    &__info {
        height: calc(100% - 200px);
        padding: 1rem;
        display: flex;
        flex-direction: column;

        @include card-background;
    }

    &__info-buttons {
        margin-top: auto;
    }
}

.user-interaction {
    width: calc(55% / 0.85);
    padding: 2rem 0.5rem 1rem 0.5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar { 
        display: none;
    }

    &__favourites {
        height: 25%;
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap; 

        @include card-background;
    }

    &__fav-card {
        height: 120px;
        width: 120px;
        margin-right: 1rem;
        margin-top: auto;
        margin-bottom: auto;
        display: inline-block;
        background-color: $color-primary1;
    }

    &__feed-container {
        height: calc(75% - 1rem);
        display: flex;
    }

    &__feed {
        height: 100%;
        width: 100%;
    }

    &__news {
        height: 100%;
        width: calc(25% - 1rem);

        @include card-background;
    }
}

.user-updates {
    width: calc(22% / 0.85);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0.5rem 1rem 0.5rem;

    &__container {
        width: 100%;
        height: calc(50% - 0.5rem);
        padding: 1rem;
        overflow-y: scroll;

        @include card-background;
    }
}

.user-friends {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0.5rem 1rem 0.5rem;

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        @include card-background;
    }

    &__container {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__request-container {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    &__avatar {
        width: 4rem;
        height: 4rem;
        margin-bottom: 1rem;
    }
}

.user-private {
    padding: 1.5rem 1rem 1.5rem 0.5rem;;
    width: 85%;
    

    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include card-background;
    }

    &__img {
        height: 5rem;
        margin-right: 1rem;
    }
}