@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;

.user {
    height: 100vh;
    padding: 4.125rem 1rem 1rem 1rem;
    background: $color-primary1;
    display: flex;
    justify-content: flex-start;

    &__profile-details {
        width: 85%;
        display: flex;
    }
}

.profile {
    width: 15%;
    padding: 1rem 0.5rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    
    &__avatar {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    &__info {
        height: calc(100% - 12.5rem);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include card-background;
    }

    &__name {
        align-self: center;
        margin-bottom: 1rem;
    }

    &__date {
        color: $color-primary2;
        font-size: 0.75rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    &__description {
        font-size: 0.875rem;
    }

    &__location-container {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    &__location-icon {
        height: 1rem;
        margin-right: 0.5rem;
    }

    &__location {
        font-size: 0.75rem;
    }

    &__bold {
        font-weight: 500;
    }

    &__info-buttons {
        width: 100%;
        margin-top: auto;
    }
}

.interaction {
    width: calc(55% / 0.85);
    padding: 2rem 0.5rem 1rem 0.5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar { 
        display: none;
    }

    &__favourites {
        height: 25%;
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap; 

        @include card-background;
    }

    &__fav-card {
        height: 7.5rem;
        width: 7.5rem;
        margin-right: 1rem;
        margin-top: auto;
        margin-bottom: auto;
        display: inline-block;
        background-color: $color-primary1;
        transition: transform 0.3s, opacity 0.3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            opacity: 0.7;
        }
    }

    &__feed-container {
        height: calc(75% - 1rem);
        display: flex;
    }

    &__feed {
        height: 100%;
        width: 100%;
    }

    &__news {
        height: 100%;
        width: calc(25% - 1rem);

        @include card-background;
    }
}

.feed {

    &__card {
        padding: 1rem;
        margin-bottom: 1rem;
        @include card-background; 
    }
}

.updates {
    width: calc(22% / 0.85);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0.5rem 1rem 0.5rem;

    &__container {
        width: 100%;
        height: calc(50% - 0.5rem);
        padding: 1rem;
        overflow-y: scroll;

        @include card-background;

        &::-webkit-scrollbar { 
            display: none;
        }
    }

    &__news-article {
        margin-bottom: 1rem;
        transition: transform 0.3s, opacity 0.3s;

        &:hover {
            transform: scale(1.05);
            opacity: 0.7;
        }
    }
}

.friends {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0.5rem 1rem 0.5rem;

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        @include card-background;
    }

    &__container {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__request-container {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    &__avatar {
        width: 4rem;
        height: 4rem;
        margin-bottom: 1rem;
    }
}

.private {
    padding: 1.5rem 1rem 1.5rem 0.5rem;;
    width: 85%;
    

    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include card-background;
    }

    &__img {
        height: 5rem;
        margin-right: 1rem;
    }
}