$color-primary1: #f6f6f6;
$color-primary2: #B8B8B8; //small text and lines
$color-primary3: lighten($color-primary2, 20%);
$color-primary4: #808487; //mostly regular text


$color-additional1: #66C6E9;
$color-additional2: #FD4D4D;
$color-additional3: #c01010;
$color-additional4: #9395AC;
$color-additional5: #8BC98A;


